<h2 class="text-center">Student's List</h2>
<div class="container">
<table class="table table-striped table-dark table-bordered">
   <thead>
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last  Name
        </th>
        <th>
            Email 
        </th>
        <th>
            Street Adress
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zipcode
        </th>
        <th>
            telephone
        </th>
        <th>
            Date
        </th>
        <th>
            likedOptions
        </th>
        <th>
            likelihoodToRecommend
        </th>
        <th>
            sourceOfInterest
        </th>
        <th>
            comments
        </th>
        <th>
            Actions
        </th>
    </tr>
   </thead>
   <tbody>
    <tr *ngFor="let student of students">
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.email}}</td>
        <td>{{student.streetAddress}}</td>
        <td>{{student.city}}</td>
        <td>{{student.zip}}</td>
        <td>{{student.state}}</td>
        <td>{{student.telephone}}</td>
        <td>{{student.date}}</td>
        <td>
            <div *ngFor="let option of student.likedOptions | keyvalue">
                <ng-container *ngIf="option.value">
                    {{ option.key }}: Yes
                    <br />
                </ng-container>
            </div>
        </td>
        <td>{{student.likelihoodToRecommend}}</td>
        <td>{{student.sourceOfInterest}}</td>
        <td>{{student.comments}}</td>    
        <td colspan="2">
            <div class="button-wrapper">
                <button (click)="updateStudent(student.id)" class="btn btn-info btn-lg">Update</button>
            </div>
            <div class="button-wrapper">
                <button (click)="deleteStudent(student.id)" class="btn btn-danger btn-lg" style="margin-top: 10px">Delete</button>
            </div>
        </td>
        
    </tr>
   </tbody>
</table>
</div>

