h3 {
    text-align: center;
    margin-top: 10px; /* Adjust as needed */
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
  }

  /* Styling for the table */
/* styles.css */

h3 {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

/* Styling for the table */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 0 100px rgba(113, 15, 15, 0.1); /* Add box shadow for a subtle lift */
}

/* Styling for the table header */
.table thead th {
    background-color: #006633;
    color: #fff;
    border-color: #004d00;
}

/* Styling for alternating rows */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

/* Hover effect on table rows */
.table tbody tr:hover {
    background-color: #d4edda;
}

/* Styling for table cells */
.table td, .table th {
    padding: 0.75rem;
    font-family: Georgia, serif;
    font-size: 16px;
    text-align: center;
    border-color: #dee2e6;
}

/* Optional: Adjust styles for smaller screens */
@media (max-width: 767px) {
    .table {
        font-size: 14px;
    }
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/* styles.css */

.button-wrapper {
    display: block;
    margin-bottom: 10px; /* Adjust the margin between buttons if needed */
}


.container {
    overflow: auto; /* Enable both horizontal and vertical scrolling */
    max-width: 100%; /* Make the container responsive */
    padding: 15px;
    white-space: nowrap; /* Prevent text wrapping in table cells */
}



.table::-webkit-scrollbar {
    width: 12px;
}

.table::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* Optional: Adjust styles for smaller screens */
@media (max-width: 767px) {
    .table {
        font-size: 14px; /* Adjust font size for smaller screens if needed */
    }
}




